# Importing Required Dependencies

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

# Loading Dataset

In [9]:
house_data = pd.read_csv('Dataset/Boston.csv')

In [10]:
print(house_data)

        CRIM    ZN  INDUS  CHAS    NOX  ...  PTRATIO       B  LSTAT  MEDV  BIAS_COL
0    0.00632  18.0   2.31     0  0.538  ...     15.3  396.90   4.98  24.0         1
1    0.02731   0.0   7.07     0  0.469  ...     17.8  396.90   9.14  21.6         1
2    0.02729   0.0   7.07     0  0.469  ...     17.8  392.83   4.03  34.7         1
3    0.03237   0.0   2.18     0  0.458  ...     18.7  394.63   2.94  33.4         1
4    0.06905   0.0   2.18     0  0.458  ...     18.7  396.90   5.33  36.2         1
..       ...   ...    ...   ...    ...  ...      ...     ...    ...   ...       ...
501  0.06263   0.0  11.93     0  0.573  ...     21.0  391.99   9.67  22.4         1
502  0.04527   0.0  11.93     0  0.573  ...     21.0  396.90   9.08  20.6         1
503  0.06076   0.0  11.93     0  0.573  ...     21.0  396.90   5.64  23.9         1
504  0.10959   0.0  11.93     0  0.573  ...     21.0  393.45   6.48  22.0         1
505  0.04741   0.0  11.93     0  0.573  ...     21.0  396.90   7.88  11.9         1

[506 rows x 15 columns]

In [11]:
# Printing fist 5 rows
house_data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  PTRATIO       B  LSTAT  MEDV  BIAS_COL
0  0.00632  18.0   2.31     0  0.538  ...     15.3  396.90   4.98  24.0         1
1  0.02731   0.0   7.07     0  0.469  ...     17.8  396.90   9.14  21.6         1
2  0.02729   0.0   7.07     0  0.469  ...     17.8  392.83   4.03  34.7         1
3  0.03237   0.0   2.18     0  0.458  ...     18.7  394.63   2.94  33.4         1
4  0.06905   0.0   2.18     0  0.458  ...     18.7  396.90   5.33  36.2         1

[5 rows x 15 columns]

In [12]:
# Checking no of rows and cols

house_data.shape

(506, 15)

In [13]:
# Checking missing values

house_data.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM          0
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
BIAS_COL    0
dtype: int64

In [14]:
# Statical Meansures of the dataset
house_data.describe()

             CRIM          ZN       INDUS  ...       LSTAT        MEDV  BIAS_COL
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000     506.0
mean     3.613524   11.363636   11.136779  ...   12.653063   22.532806       1.0
std      8.601545   23.322453    6.860353  ...    7.141062    9.197104       0.0
min      0.006320    0.000000    0.460000  ...    1.730000    5.000000       1.0
25%      0.082045    0.000000    5.190000  ...    6.950000   17.025000       1.0
50%      0.256510    0.000000    9.690000  ...   11.360000   21.200000       1.0
75%      3.677083   12.500000   18.100000  ...   16.955000   25.000000       1.0
max     88.976200  100.000000   27.740000  ...   37.970000   50.000000       1.0

[8 rows x 15 columns]

Understanding correlation between varioius features in dataset

1. Positive Correlation
2. Negative Correlation

In [15]:
correlation = house_data.corr()